@page
@model PrivacyModel
@{
    ViewData["Title"] = "Tietosuojaseloste";
}
<h1>@ViewData["Title"]</h1>

<p>Henkilötiedot: <br> Keräämme vain tarpeelliset tiedot, kuten nimesi ja osoitteesi. Emme kysele turhia, kuten lempivärisi tai horoskooppimerkkisi.</p>
<p>Evästeet: <br> Käytämme evästeitä parantaaksemme sivuston toimivuutta. Ne eivät ole syötäviä, mutta auttavat meitä pitämään kaiken kunnossa.</p>
<p>Mainonta: <br> Näytämme mainoksia, jotka liittyvät siihen, mitä olet laittanut ostoskoriisi. Emme ole kiinnostuneita muiden ostoksista.</p>
<p>Turvallisuus: <br> Tietosi ovat meillä tallessa, emmekä myy niitä eteenpäin. Tämä ei ole salaliitto, vain lupaus.</p>
<p>Ota yhteyttä: <br> Jos haluat kysyä jotain tietosuojaan liittyvää, ota yhteyttä asiakaspalveluumme.</p>
